@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Simple reset */
*[class^='wthr-'],
*[class^='wthr-'] > * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Table and row wrappers for structuring */
.wthr-table {
	display: table;
	width: 100%;
}
.wthr-row {
	display: table-row;
}


/**
 * Container
 *************************/

.wthr-container {
	display: table; 
	border: 1px solid black;
	font-family:'Open Sans', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-color: #DDD; 
}


/**
 * Current
 *************************/

.wthr-current {
	display: table-cell;
	padding: 10px 10px 10px 10px;
	
	h4 {
		text-align: center;
		font-size: 1.25em;	
		padding-bottom: 10px;
		
		.wthr-current-time {
			font-weight: default;
		}
	}

	.wthr-climate,
	.wthr-details {
		display: inline-block;
		vertical-align: middle;
		padding-top: 5px;
	}

	.wthr-climate {
		text-align: center;
		padding: 10px 0 5px 8%;
	}

	.wthr-summary {
		display: inline-block;
		padding-bottom: 5px;
	}

	.wthr-icon,
	.wthr-temperature {
		display: inline-block;
		font-size: 42px;
	}

	.wthr-feels-like {
		display: inline-block;
		padding-top: 5px;
	}

	.wthr-details {
		list-style: none;
		font-size: 1.05em;
		
		label {
			display: inline-block;
			text-align: center;
			min-width: 1.2em;
		}
	}
}


/**
 * Daily Thumbnails
 *************************/

.wthr-daily {
	display: table-cell;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wthr-day-thumb {
	display: table-cell;
	text-align: center;
	padding: 5px 8px;
	border-right: 1px solid #DDD;
	cursor: pointer;
	
	&:last-child {
		border-right: none;
	}

	&:hover,
	&[data-selected] {
		background-color: #EEE;
		background-image: linear-gradient(white, #EEE);
	}
	
	.wthr-date,
	.wthr-icon {
		display: block;
		margin-bottom: 3px;
	}
	
	.wthr-icon,
	.wthr-min,
	.wthr-max {
		font-weight: 700;
	}

	.wthr-icon {
		font-size: 1.4em;
	}

	.wthr-min {
		color: #0074D9;
	}

	.wthr-max {
		color: #FF4136;
	}
}


/**
 * Daily Details
 *************************/

.wthr-daily-details {
	display: table-cell;
	font-size: 0.9em;
	
	.wthr-details-header {
		text-align: center;
		background-color: #EEE; 
		padding: 10px 0;
		
		h5 {
			font-size: 1.1em;
		}

		.wthr-summary {
			display: inline-block;
			max-width: 250px;
		}
	}
	
	li {
		padding: 3px 10px;
		list-style: none;
		
		label {
			display: inline-block;
			padding-right: 5px;
			text-align: left;
			width: 50%;
		}

		span {
			padding-left: 5px;
		}

		&.wthr-last {
			padding-bottom: 5px;
		}

		&:nth-child(even) {
			background-color: #EEE; 
		}
	}
}